.message{
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;

  &__info{
    margin-left: 20px;
  }
  &__timestamp{
    color: gray;
    margin-left: 20px;
    font-size: x-small;
  }
}